body {
  background-color: #000;
  box-sizing: border-box;
}

div #inner {
  height: 50px;
  width: 50px;
  background-color: #800080;
  border-radius: 50%;
  border: 25px solid #0000ff;
}

div #middle {
  height: 150px;
  width: 150px;
  background-color: #008000;
  border-radius: 50%;
  border: 25px solid #ffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer {
  height: 250px;
  width: 250px;
  background-color: #ffa500;
  border-radius: 50%;
  border: 25px solid #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
